/.out
/umba-date.log
/umba-date.exe
/timeq.txt
/timeqlf.txt
/umba-date.txt
/copy_to_archive.bat
/copy_to_archive.sh
/date.txt
/datelf.txt
/datepp.txt
/dateq.txt
/dateqlf.txt
/fndate.txt
/fntime.txt
/gmdate.txt
/gmtime.txt
/time.txt
/timelf.txt
/timepp.txt
